h1 {
  font-size: 120px;
  font-family: "Copperplate Papyrus", fantasy;
  text-align: center;
}

.titledesc {
  font-size: 80px;
  font-family: "Copperplate Papyrus", fantasy;
  text-align: center;
}

.space {
  padding: 20px;
}

.imagelink {
  width: 25px;
  height: auto;
}
