h1 {
  font-size: 120px;
  font-family: "Copperplate Papyrus", fantasy;
  text-align: center;
}

#titledesc {
  font-size: 60px;
  font-family: "Copperplate Papyrus", fantasy;
  text-align: center;
}

#space {
  padding: 20px;
}

#imagelink {
  width: 25px;
  height: auto;
}

a {
  font-size: 50px;
  font-family: "Copperplate Papyrus", fantasy;
  text-align: center;
}
